<section class="px-6 md:px-24 mt-[2.4rem] md:mt-[6.6rem] overflow-x-hidden">
    <div>
        <div class="flex justify-between items-center gap-8">
            <div class="basis-3/4">
                <h2 class="text-base md:text-[2.5rem] leading-tight md:font-normal font-medium ">
                    Latest Insights.
                </h2>
                <p class="mt-[0.19rem] md:mt-[1rem] text-[0.75rem] md:text-2xl leading-tight">
                    Discover the latest news of technology and stay up to date.
                </p>
            </div>
            <div>
                <button class="w-20 md:w-[13.3rem] rounded-full flex justify-center items-center text-[0.6rem] md:text-xl bg-darkBlue text-white py-3 md:py-4 leading-none">
                    <p>View all</p>
                </button>
            </div>
        </div>
        <div class="flex overflow-visible w-max items-stretch mt-16 gap-5 font-crash flex-nowrap">
            <div class="w-[17.75rem] md:w-[29rem] rounded-[0.46rem] md:rounded-[0.80rem] p-[1px] bg-[linear-gradient(180deg,rgba(0,229,188,1)0%,rgba(11,102,157,1)100%)]">
                <div class="h-full bg-white rounded-[0.4rem] md:rounded-xl p-2 md:p-4">
                    <div class="h-[13rem] md:h-[21rem] overflow-hidden rounded-[0.30675rem] md:rounded-lg">
                        <img src="/images/hero-image.jpg" alt="hero image" class="h-full w-full object-cover">
                    </div>
                    <div class="mt-[1.92rem] md:mt-[3rem] px-2 md:px-3">
                        <h3 class="text-[0.8125rem] font-medium md:font-normal md:text-xl">
                            Embrace Automated Deployment with Flux CD: Your Key to Effective GitOps
                        </h3>
                        <p class="mt-[0.6rem] md:mt-[1rem] md:text-base text-[0.6875rem]">
                            Revolutionize your IT infrastructure with seamless scalability and accessibility through our
                            cutting-edge cloud computing solutions.
                        </p>
                        <div class="mt-8 mb-1 md:mb-0 text-[0.76688rem] md:text-base text-links underline">
                            Read More
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex md:hidden justify-center mt-7 gap-2">
            <div class="h-2 w-2 bg-[#D9D9D9] rounded-full"></div>
            <div class="h-2 w-2 bg-[#D9D9D9] rounded-full"></div>
            <div class="h-2 w-2 bg-[#D9D9D9] rounded-full"></div>
            <div class="h-2 w-2 bg-[#D9D9D9] rounded-full"></div>
        </div>
    </div>
</section>