<section class="mx-6 md:mx-24 pt-10 md:pt-[7rem] md:mb-[6rem]">
    <% if (heading) { %>
        <h3 class="md:text-[3.4375rem] text-[1.125rem] md:font-normal font-medium mb-[2.23rem] md:mb-[4rem]">
            <%= dataExpectation.data.attributes.Heading %>
        </h3>
        <% } %>
            <div class="grid md:grid-cols-2 gap-[1.81rem] md:gap-0">
                <div class="md:rounded-[0.88rem] rounded-[0.5rem] min-h-[16.5rem] overflow-hidden bg-deepBlue">
                    <img src="<%= strapi_base + dataExpectation.data.attributes.Image.data.attributes.url %>"
                        alt="<%= dataExpectation.data.attributes.Image.data.attributes.alternativeText %>"
                        class="h-full w-full object-cover">
                </div>
                <div class="md:py-8 md:pl-32 flex flex-row gap-[1.69rem] md:flex-col">
                    <h4 class="text-base md:font-normal leading-none font-medium md:text-header">
                        What we value.
                    </h4>
                    <ul
                        class="md:mt-11 flex gap-[1.56rem] md:gap-6 flex-col text-base md:text-2xl font-normal md:font-medium leading-none">
                        <% dataExpectation.data.attributes.expectation_lists.data.forEach(function(expectation) { %>
                            <div class="flex md:gap-8 gap-[0.2rem] md:pl-[0.63rem]">
                                <div class="w-4 md:w-8">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-full aspect-square block"
                                        viewBox="0 0 26 26" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12.5703 0.114122C12.7012 0.0393359 12.8494 0 13.0002 0C13.1509 0 13.2991 0.0393359 13.43 0.114122L25.5635 7.04754C25.6961 7.12331 25.8064 7.23279 25.8831 7.3649C25.9598 7.49701 26.0003 7.64705 26.0003 7.79981V9.04783C26.0004 12.8716 24.7547 16.5912 22.4518 19.6437C20.149 22.6962 16.9144 24.9154 13.2376 25.9654C13.0824 26.0096 12.9179 26.0096 12.7627 25.9654C9.08621 24.9149 5.85192 22.6956 3.54916 19.6432C1.24641 16.5908 0.000520604 12.8714 0 9.04783L0 7.79981C4.92741e-05 7.64705 0.040476 7.49701 0.117184 7.3649C0.193893 7.23279 0.304157 7.12331 0.436805 7.04754L12.5703 0.114122ZM12.2583 18.5657L19.7429 9.20729L18.3909 8.12568L12.0087 16.1008L7.48809 12.3343L6.37874 13.6655L12.2583 18.5657Z"
                                            fill="#00E5BC" />
                                    </svg>
                                </div>
                                <div>
                                    <%= expectation.attributes.expection_name %>
                                </div>
                            </div>
                            <% }); %>
                    </ul>
                </div>
            </div>
</section>