<section class="mx-6 md:mx-24 mt-16 md:mt-[7.62rem] rounded-xl p-[1.5rem] md:p-[4.5rem] bg-[linear-gradient(84deg,#0B669D_1.16%,#00E5BC_108.35%)] flex md:flex-row flex-col font-crash gap-5 md:gap-14 items-center text-white justify-">
    <div class="w-full md:w-min md:basis-[60%]"> 
        <h2 class="text-base md:text-[2.5rem] w-full leading-tight md:font-normal font-medium">
            <% if (formData) { %>
                <%= formData.data.attributes.Heading %>
            <% } else {%>
            <%= data1.data.attributes.Contact_Form_Heading %>
            <% } %>
        </h2>
        <% if (heading) { %>
        <p class="mt-[0.25rem] md:mt-[2.63rem] max-w-[30rem] text-[0.625rem] md:text-base leading-snug">
            <%= data1.data.attributes.Contact_Form_Para %>
        </p>
        <% } %>
    </div>
    <form class="flex gap-[0.88rem] self-stretch md:block flex-grow">
        <input type="email" name="email" placeholder="your@email.com" class="block w-full rounded-full bg-white px-4 md:px-6 md:py-5 text-darkBlue text-[0.6875rem] md:text-xl leading-none shadow-[1.453px_1.453px_1.453px_0px_rgba(0,0,0,0.25)_inset] md:shadow-[4px_4px_4px_0px_rgba(0,0,0,0.25)inset] flex-shrink">
        <button class="w-20 md:w-[13.3rem] btn-30 rounded-full md:mt-5 flex basis-40  justify-center items-center text-[0.6rem] md:text-xl bg-darkBlue text-white py-3 md:py-4 leading-none">
            <p class="text-container basis-full"><span class="text">Submit</span></p>
        </button>
    </form>
</section>