<nav class="text-white font-dmsans">
<!-- nav header - start -->
  <div class="bg-deepBlue py-2.5 text-xs px-36 leading-0  flex justify-end">
    <a href="tel:07812503239" class="flex font-medium gap-2 items-center pr-4 border-r-[0.0625rem] border-lightBlue"> <!-- pull from strapi -->
        <div>
            <img src="/images/icon-phone.svg" alt="phone icon" class="h-3">
        </div>
        <div>
            <!-- pull from strapi --> 0781 250 3239
        </div>
    </a>
    <a href="mailto:info@Britinfotech.co.uk" class="flex font-medium gap-2 items-center pl-4"> <!-- pull from strapi -->
        <div>
            <img src="/images/tabler-mail-filled.svg" alt="phone icon" class="h-3">
        </div>
        <div>
            <!-- pull from strapi --> info@Britinfotech.co.uk
        </div>
    </a>
  </div>
<!-- nav header - end -->
<!-- nav main - start -->
<div class="bg-[linear-gradient(269deg,#00E5BC_-15.02%,_#0B669D_101.09%)] px-10 py-4 flex justify-between items-center">
    <a href="/" class="flex items-center gap-[0.36rem]">
        <div class="mb-0.5">
            <img src="/images/brit-logo.svg" alt="logo" class="h-4">
        </div>
        <p class="font-crash font-medium text-[1.2rem] leading-none">
            BritInfoTech
        </p>
    </a>
    <ul class="flex items-center gap-12">
        <li class="inline-block">
            <a href="/" class="inline-block py-2.5 text-[0.875rem] font-medium hover:text-lightBlue">Home</a>
        </li>
        <li class="inline-block">
            <a href="/about" class="inline-block py-2.5 text-[0.875rem] font-medium hover:text-lightBlue">About</a>
        </li>
        <li class="inline-block">
            <a href="/services" class="inline-block py-2.5 text-[0.875rem] font-medium hover:text-lightBlue">Services</a>
        </li>
        <li class="inline-block">
            <a href="/Insights" class="inline-block py-2.5 text-[0.875rem] font-medium hover:text-lightBlue">Insights</a>
        </li>
    </ul>
    <div>
        <a href="/contact" class="inline-block rounded-full bg-darkBlue px-6 py-2 text-[0.875rem] font-normal hover:text-lightBlue">Contact Us</a>
    </div>
</div>
</nav>