<%- include('partials/header') %>
<%- include('partials/nav') %>
<header class="mx-24 w-full">
    <div class="flex">
        <p class="curved-text tracking-widest">w o r k    t o g e t h e r</p>
        <p class="curved-text-2 tracking-widest">S r o l l    d o w n</p>
    </div>
</header>
<%- include('partials/footer') %>