<%- include('partials/header' , {dataSEO , dataSEOKeywords , strapi_base, base_url}) %> <%- include('partials/nav', {dataContact}) %>
<header class="h-[30rem] flex-col flex justify-center items-center">
    <h1 class="text-4xl font-bold">Coming Soon....</h1>
    <a href="/" class="underline text-blue-700">Go back to home</a>
</header>
<%- include('partials/footer' , {flash}) %>